<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>周周</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/static/assets/layui/css/layui.css"/>
  <link rel="stylesheet" href="/static/assets/css/global.css"/>
  <script type="text/javascript" src="/static/js/jquery.js"></script>
  <script type="text/javascript" src="/static/assets/layui/layui.all.js"></script>
</head>

 
<div class="header">
  <div class="main">
    <!-- <a class="logo" href="/" title="Fly">周周网</a> -->
    <div class="nav">
      <a class="nav-this" href="index.html">
        <i class="iconfont icon-wenda"></i>每周一影
      </a>
      <a href="http://www.layui.com/" target="_blank">
        <i class="iconfont icon-ui"></i>每周一曲
      </a>
    </div>
    
    <div class="nav-user">
      <!-- 未登入状态 -->
      <a class="unlogin" href="user/login.html"><i class="iconfont icon-touxiang"></i></a>
      <span><a href="user/login.html">登入</a><a href="user/reg.html">注册</a></span>
    </div>
  </div>
</div>